/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} */

body {
    margin: 0;
}

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #000;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
}

.navbar-logo a{
    text-decoration: none;
    color: red;
}

.navbar-logo span{
    color: red;
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://previews.123rf.com/images/ndul/ndul1212/ndul121200011/16802481-imagen-conceptual-de-c%C3%B3mo-internet-conecta-computadoras-de-todo-el-mundo.jpg");
}

.banner-container{
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 70px;
    font-weight: bold;
}

.banner p{
    font-size: 30px;
    color: #fff;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial;
    padding: 40px;
}

.card > img {
    width: 90%;
    height: 250px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 22px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    margin: 25px;
    font-family: arial;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 0 4px red;
}

.delete-product {
    cursor: pointer;
}

.cantidad-carrito{
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}

.sumar {
    cursor: pointer;
    color: green;
    padding: 20px;
}

.restar {
    cursor: pointer;
    color: red;
    padding: 20px;
}

form {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form{
    /* width: 100%; */
    margin: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 red, 0 0 6px 0 red, 0 0 6px 0 red;
    padding: 40px 0;
}

form .grupo{
    position: relative;
    margin: 45px;
    background: none;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    /* border-bottom: 1px solid rgb(17, 1, 1); */
}

form h1{
    text-align: center;
    font-weight: 700;
    text-shadow: 0 0 2px red;
}

input:focus{
    outline: none;
    color: #5e5d5d;
}
label{
    color:#5e5d5d;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: blue;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content:"";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3S ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4568DC;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

main{
    background-color: #000;
    height: 100vh;
}


.menu a{
    text-decoration: none;
    color: red;
}